//Selection colours

// #0B2434
//#4A4E74

$font: #2B283A;
$frame: #0B2434;
$button1: 59E391;
$white:#FFFFFF;
$button_roll: #5035FF;
$background: #F5F5F5;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
